In [2]:
import pandas as pd

data_df = pd.read_csv('data3.csv')

In [19]:
stocks = ['AAPL', 'MSFT', 'COST', 'IBM']
stocks

['AAPL', 'MSFT', 'COST', 'IBM']

In [20]:
stocks = list(set(stocks))
stocks

['MSFT', 'COST', 'AAPL', 'IBM']

In [23]:
data_df.set_index('ticker')

,company name,sector,start,end
ticker,,,,
A,Agilent Technologies Inc.,Healthcare,1999-11-18,2024-04-25
AA,Alcoa Corporation,Basic Materials,1962-01-02,2024-04-25
AADR,AdvisorShares Dorsey Wright ADR,Other,2010-07-21,2024-04-25
AAL,American Airlines Group Inc.,Industrials,2005-09-27,2024-04-25
AAMC,Altisource Asset Management Corp Com,Financial Services,2022-03-21,2024-04-25
...,...,...,...,...
ZTR,Virtus Global Dividend & Income Fund Inc.,Financial Services,1988-09-26,2024-04-25
ZTS,Zoetis Inc. Class A,Healthcare,2013-02-01,2024-04-25
ZUMZ,Zumiez Inc.,Consumer Cyclical,2005-05-06,2024-04-25
ZUO,Zuora Inc. Class A,Technology,2018-04-12,2024-04-25
ZYME,Zymeworks Inc.,Healthcare,2017-04-28,2024-04-25